# Ambientes Virtuais
venv/
env/
.venv/

# Variáveis de Ambiente (Segurança)
.env
.env.local

# Arquivos de sistema do Mac e PyCharm
.DS_Store
.idea/
__pycache__/

#json
*.jsongit
*.json

# Dependências do Node
backend/node_modules/