# ==============================================================================
# Backend - Variáveis de Ambiente
# ==============================================================================

PORT=5001
DB_HOST=seu-endpoint-rds.amazonaws.com
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=sua_senha_do_banco
DB_PORT=5432
